.git/

# Ignore connector since it's client-side code
code/connector/**

deploy/**
img/**
init-action/**
load-testing/**
terraform/**

# Documentation
*.md

# Python artefacts
.pytest_cache
__pycache__
*.pyc

# Redis artefacts
dump.rdb

# Secrets
client_secret*.json
*.keytab
*.crt
*.key
*.csr