# Terraform artifacts:
terraform/terraform.tfstate*
terraform/.terraform*
terraform/*.tfvars

# Helm values
deploy/values_override*.yaml

# Skaffold config
deploy/skaffold.yaml

# Load testing artifacts
load-testing/settings.py
load-testing/brokerservice/protobuf/broker_pb2_grpc.py
load-testing/brokerservice/protobuf/broker_pb2.py

# Kerberos configuration file for Dataproc
kerberos-config.yaml

# Java artifacts
**/target/**
dependency-reduced-pom.xml

# Python artifacts
.pytest_cache
__pycache__
*.pyc

# Redis artifacts
dump.rdb

# Secrets
client_secret*.json
*.keytab
*.crt
*.key
*.csr
*.pem

# Ignore .DS_Store (folder metadata file in OS X)
*.DS_Store

# Ignore IDE specific files
.idea
*.iml

