# Copyright 2020 Google LLC
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Terraform artifacts:
terraform/terraform.tfstate*
terraform/.terraform*
terraform/*.tfvars

# Load testing artifacts
load-testing/settings.py
load-testing/brokerservice/protobuf/broker_pb2_grpc.py
load-testing/brokerservice/protobuf/broker_pb2.py

# Unit testing artifacts
service-account-key.json

# Custom deployment specific files
deploy/**

# Java artifacts
*.jar
**/target/**
dependency-reduced-pom.xml
code/built-jars

# Redis artifacts
dump.rdb

# Secrets
client_secret*.json
*.keytab
*.crt
*.key
*.csr
*.pem
dek.json

# Ignore .DS_Store (folder metadata file in OS X)
*.DS_Store

# Ignore IDE specific files
.idea
*.iml

# NodeJS
npm-debug.log